<template>
    <p> Hi from child</p>
    <ul>
        <li repeat.for="entry of viewData">
            <div>${entry.label}</div>
        </li>
    </ul>

    <button click.delegate="addEntry()">ADD ENTRY FROM CHILD</button>
</template>