<template>
    
    <p>Hi from parent</p>
    <child view-data.bind="viewData" on-add.call="onAdd(entry)" />
    <compose view-model="child" model.bind="viewData" />

    <button click.delegate="addEntry()">ADD ENTRY FROM PARENT</button>
</template>
